body {
    padding: 5rem;
    text-align: center;
}

.my_to_do {
    border: 1px solid black;
    input {
        width: 10rem;
        height: 2rem;
        border: none;
        padding: .2rem .5rem;
        background-color: #ccc;
        font-size: 1rem;
        &:focus::placeholder {
            opacity: 0;
        }
    }
    button {
        border: none;
        height: 2.4rem;
        background-color: #333;
        color: #fff;
        font-weight: bold;
        font-size: 1rem;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            background-color: #666;
            transition: all ease-in-out .3s;
        }
    }
    .tasks {
        display: flex;
        justify-content: center;
        flex-direction: column;
        font-weight: bold;
        margin: 1rem 0;

    }
}

.task {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
    border-top: 1px solid black;

    div {
        display: flex;
        align-items: center;
        input {
            width: 3rem;

        }
    } 
    button {
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
    }

    &:has(input:checked) {
        background-color: #333;
        color: white;
        div {
            text-decoration-line: line-through;
        }
        
    }
}

